@media(max-width:815px) {
    .para {
        font-size: 20px;
    }
}

@media(max-width:630px) {
    .para {
        font-size: 19px;
    }
}

@media(max-width:550px) {
    .content-title {
        font-size: 32px;
    }

    .para {
        margin-top: 50px;
    }

    .choosed {
        font-size: 20px;
        margin-top: 5px;
    }

    label {
        font-size: 24px;
        margin-top: unset;
    }

    .dragon {
        width: 250px;
        margin-bottom: 20px;
    }
}

@media(max-width:480px) {
    .para {
        padding: 10px 15px;
    }

    .ex {
        font-size: 19px;
    }
}

@media(max-width:430px) {
    .content-title {
        font-size: 29px;
    }

    label {
        font-size: 22px;
        font-weight: 400;
        margin-top: unset;
    }

    .choosed {
        font-size: 18px;
        margin-top: unset;
    }
}

@media(max-width:425px) {
    .para {
        padding: 10px 10px;
    }
}

@media(max-width:420px) {
    .ex {
        font-size: 18px;
    }
}

@media(max-width:395px) {
    .ex {
        font-size: 17px;
    }
}

@media(max-width:380px) {
    .ex {
        font-size: 16px;
    }

    .content-title {
        font-size: 27px;
    }
}