@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}


body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgba(255, 25, 25, 1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f4f4f4;
}


.container {
    padding-bottom: 30px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.allow-copy {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.content-title {
    font-size: 42px;
    display: flex;
    text-transform: uppercase;
}


select {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;

}

.dragon {
    width: 300px;
}

select option {
    background: transparent;
}

label {
    font-size: 24px;
}



p+* {
    margin-top: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px 12px;

}

.para {
    margin-top: 54px;
    font-size: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px 30px;
}



form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px 30px;

}

.btn-choose-xbox,
.btn-choose-spotif,
.btn-choose-game,
.btn-choose-gift {
    font-size: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px 30px;
}



.btns {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.xx {
    margin-right: 10px;
    font-size: 21px;
}

button {
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px 10px;
}

.nick {
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px 10px;
}

.pass {
    margin-bottom: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px 10px;
}

.ex {
    text-align: center;
}

.res {
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
}

.exte {
    font-size: 20px;
    padding: 10px 50px;
}

.bx {
    font-size: 44px;
    margin-top: 36px;
    cursor: pointer;
}

#exit {
    font-size: 36px;
}